# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/

# ==========================================
# Environment Variables
# ==========================================

config/.env

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Raw Data Files
# ==========================================

data/raw/*.csv
data/staging/*.csv

# ==========================================
# Power BI
# ==========================================

*.pbix.autosave
*.pbitmp

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Windows / editor
# ==========================================
.DS_Store
Thumbs.db
.ipynb_checkpoints/