# ==========================================
# Python
# ==========================================

__pycache__/
*.pyc

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/

# ==========================================
# Environment Variables
# ==========================================

config/.env

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Raw Data Files
# ==========================================

data/raw/*.csv
data/staging/*.csv

# ==========================================
# Power BI
# ==========================================

*.pbix

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# Windows
# ==========================================
.DS_Store
Thumbs.db